<!DOCTYPE html>
<html>
  <head>
    <title>ContactsList</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<!-- navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toogle collapsed" data-toogle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toogle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<%= link_to "My contact", root_path, class: "navbar-brand text-uppercase" %>

			</div>

			<!-- /. navbar-header -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<div class="nav navbar-right navbar-btn">
					<%= link_to new_contact_path, class: "btn btn-default" do %>
						<i class="glyphicon hlyphicon-plus"></i>
						Add Contact
					<% end %>
				</div>
			</div>
		</div>
	</nav>

	<!-- content -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="list-group">
					<!-- set active links -->
					<% active = params[:group_id] == nil ? 'active' : '' %>


					<%= link_to contacts_path, class: "list-group-item #{active}" do %>
							All Contacts<span class="badge"><%= Contact.count %></span>
					<% end %>

					<% Group.all.each do |group| %>
						<% active = params[:group_id].to_i == group.id ? 'active' : '' %>					
						<%= link_to contacts_path(group_id: group.id), class: "list-group-item #{active}" do %>
							<%= group.name %><span class="badge"><%= group.contacts.count %></span>
						<% end %>
					<% end %>

				</div>
			</div> <!-- /.col-md-3 -->
			
			<div classs="col-md-9">
    			
				<% flash.each do |type, message| %>
					<% content_tag :div, class: "alert alert-#{type} alert-dismissible", role: "alert" do %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
						<%= message %>
						</button>
					<% end %>
				<% end %>
    			
    			<%= yield %>
			
			</div>
		</div>
	</div>
</body>
</html>